/* Övningen går ut på att styla ditt egna flipkort och testa på
CSS-animationer. Prova att ge kortet en annan höjd, bredd,
position, text och färg. Kanske vill du ha en bild på kortet?
Eller varför inte duplicera HTML-koden för att skapa flera kort? 
*/

/* Flexbox för att centrera kortet*/
body {
	display: flex;
	justify-content: center;
	background-color: #191816;
  padding: 2em 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Varela Round', sans-serif;
}

p,a,span {
  font-family: 'Varela Round', sans-serif;
}
/* Det här är stylingen på kortet. Bakgrunden är transparent för
att det ska se ut som att kortet vänder sig. 
*/
.card {
	background-color: transparent;
	width: 250px;
  height: 350px;
  margin: 0 1em;

  /* Detta skapar en 3d-effekt på kortet när det vänds*/
	perspective: 1000px;
}

.card-inner {
  position: relative;
	width: 100%;
  height: 100%;
	transition: transform 0.8s;
  text-align: center;

  /* Detta får kortet dubbelsidigt, prova att ta bort raden
  för att se vad som händer */
  transform-style: preserve-3d;
  border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Denna stylingen får kortet att vända sig när man hovrar över det */
.card:hover .card-inner {
	transform: rotateY(180deg);
}

.card-front {
	position: absolute;
	width: 100%;
  height: 100%;

  /* Denna kod döljer framsidan av kortet när det vänds*/
	backface-visibility: hidden;
  background-color: #c0ccb2;
  border-radius: 10px;
}

.card-front .card-front-content {
  border: 3px double #8b8b64;
  margin: 15px;
  height: calc(100% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 5px;
}

.card-front .card-front-content i {
  font-size: 40px
}

/* Brown coloured cards */
.card-front.brown {
  background-color: #2d211d;
}

.card-front.brown h1, .card-front.brown i {
  color: #503b34;
}

.card-front.brown .card-front-content {
  border-color: #3e322e;
}

/* Green coloured cards */
.card-front.green {
  background-color: #324033;
}

.card-front.green h1, .card-front.green i {
  color: #232b23;
}
.card-front.green .card-front-content {
  border-color: #405041;
}

/* Yellow coloured cards */
.card-front.yellow {
  background-color: #7d7d59;
}

.card-front.yellow h1, .card-front.yellow i {
  color: #4e4e30
}

.card-front.yellow .card-front-content {
  border-color: #8b8b64;
}


.card-back {
	position: absolute;
	width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 15px;
  background-image: url(media/card_texture.png);
  background-color: #191816;
  /* Denna kod döljer baksidan av kortet när det vänds*/
	backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card-back img {
  position: absolute;
  bottom: 0;
  max-height: 200px;
}

.card-back h1, .card-back h2, .card-back h3, .card-back h4, .card-back h5, .card-back h6, .card-back a, .card-back span, .card-back p {
  color: white;
}
